<div class="container">
  <div class="job-search">
    <section class="flex">
      <form class="flex-space-between full-width">
        <div class="input-controll">
          <input type="text" placeholder="توسعه دهنده React" />
          <img
            src="./../../../assets/icons/Magnifier.png"
            width="25"
            height="25"
            alt=""
          />
          <span class="title">عنوان</span>
        </div>
        <div class="input-controll">
          <input type="text" placeholder="اردبیل" />
          <img
            src="./../../../assets/icons/Home.png"
            width="25"
            height="25"
            alt=""
          />
          <span class="title">شهر</span>
        </div>
        <button mat-flat-button color="primary">جست و جو</button>
      </form>

      <div class="filters-lg flex">
        <div>
          <button
            mat-stroked-button
            [matMenuTriggerFor]="menu"
            matTooltip="انتخاب زمان انتشار آگهی"
          >
            زمان انتشار
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>24 ساعت گذشته</button>
            <button mat-menu-item>هفته ی قبل</button>
            <button mat-menu-item>ماه قبل</button>
          </mat-menu>
        </div>
        <div>
          <button
            mat-stroked-button
            [matMenuTriggerFor]="contract_menu"
            matTooltip="انتخاب نوع قرارداد آگهی"
          >
            نوع قرارداد
          </button>
          <mat-menu #contract_menu="matMenu">
            <button mat-menu-item>تمام وقت</button>
            <button mat-menu-item>پاره وقت</button>
            <button mat-menu-item>دورکاری</button>
            <button mat-menu-item>کارآموزی</button>
          </mat-menu>
        </div>
      </div>
    </section>
  </div>
</div>
<mat-divider></mat-divider>
