.skeleton-loader {
    .thumbnail {
        width: max-content;
        margin: auto;
    }

    .title {
        width: 60%;
        margin: auto;
    }

    .company-name {
        width: 20%;
        margin: auto;
        margin-bottom: 30px;
    }
}