section {
  justify-content: space-between;
  padding-top: 40px;

  margin: auto;
  width: 80%;
}
dev-jobs-list-item {
  width: 35%;
}
dev-jobs-list-detail {
  position: sticky;
  top: 50px;

  width: 65%;
}
