header {
  top: 0;
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;

  .inner-header {
    width: 81%;
  }

  .auth-btn {
    padding-left: 10px;
  }
}